/* .menu{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.menu_img {
  height: 400px;
}

.menu_img > img {
height: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  text-decoration: none;
  text-decoration: none;
}

.header{
  display: flex;
  height: 80px;
  justify-content:space-between; 
  margin: 10px;
  padding: 10px; 
  border: 1px solid black;
}

.header_items > ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header_items > ul >li{

  margin-right: 30px;
}

.header_items{
  margin-right: 250px;
}

.card{
  width: 200px;
  
  padding: 10px;
  margin: 50px;
}

.card > img{
  width: 200px;
  height: 200px; 
  border-radius: 16px;  
}

.card > h3 {
  width: 100%;
  font-family: 'Bricolage Grotesque', sans-serif;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
}

.header > img {
  width: 100%;
}

.link {
  text-decoration: none;
} */